.idea/*
lecturehub/*
lecturehub/seg0/*
lecturehub/service.properties
derby.log
lecture-hub.iml
lecturehub.iml
target/*
.idea/
target/
target/classes/controller/ChatHandler.class
target/classes/controller/InterfaceHandler.class
target/classes/static/
target/classes/templates/home.html
target/classes/util/Application.class
target/generated-sources/
target/maven-status/
