.idea/*
lecturehub/*
lecturehub/seg0/*
lecturehub/service.properties
derby.log
lecture-hub.iml
lecturehub.iml
target/*
.idea/
target/
.gitignore
lecturehub/db.lck
lecturehub/log/
lecturehub/seg0/README_DO_NOT_TOUCH_FILES.txt
lecturehub/seg0/c101.dat
lecturehub/seg0/c111.dat
lecturehub/seg0/c121.dat
lecturehub/seg0/c130.dat
lecturehub/seg0/c141.dat
lecturehub/seg0/c150.dat
lecturehub/seg0/c161.dat
lecturehub/seg0/c171.dat
lecturehub/seg0/c191.dat
lecturehub/seg0/c1c0.dat
lecturehub/seg0/c1d1.dat
lecturehub/seg0/c1e0.dat
lecturehub/seg0/c1f1.dat
lecturehub/seg0/c200.dat
lecturehub/seg0/c211.dat
lecturehub/seg0/c221.dat
lecturehub/seg0/c251.dat
lecturehub/seg0/c260.dat
lecturehub/seg0/c271.dat
lecturehub/seg0/c281.dat
lecturehub/seg0/c290.dat
lecturehub/seg0/c2a1.dat
lecturehub/seg0/c2b1.dat
lecturehub/seg0/c2c1.dat
lecturehub/seg0/c2d0.dat
lecturehub/seg0/c2e1.dat
lecturehub/seg0/c2f0.dat
lecturehub/seg0/c300.dat
lecturehub/seg0/c311.dat
lecturehub/seg0/c321.dat
lecturehub/seg0/c331.dat
lecturehub/seg0/c340.dat
lecturehub/seg0/c351.dat
lecturehub/seg0/c361.dat
lecturehub/seg0/c371.dat
lecturehub/seg0/c3c0.dat
lecturehub/seg0/c3d1.dat
lecturehub/seg0/c3e1.dat
lecturehub/seg0/c3f1.dat
lecturehub/seg0/c400.dat
lecturehub/seg0/c430.dat
lecturehub/seg0/c441.dat
lecturehub/seg0/c451.dat
lecturehub/seg0/c461.dat
lecturehub/seg0/c470.dat
lecturehub/seg0/c481.dat
lecturehub/seg0/c490.dat
lecturehub/seg0/c4a0.dat
lecturehub/seg0/c60.dat
lecturehub/seg0/c71.dat
lecturehub/seg0/c81.dat
lecturehub/seg0/cb1.dat
lecturehub/seg0/cc0.dat
lecturehub/seg0/cd1.dat
lecturehub/seg0/ce1.dat
lecturehub/seg0/cf0.dat
lecturehub/seg0/d4b0.dat
lecturehub/seg0/d4c0.dat
lecturehub/tmp/
target/classes/controller/ChatHandler.class
target/classes/controller/InterfaceHandler.class
target/classes/static/css/
target/classes/static/img/
target/classes/static/js/chat.js
target/classes/static/js/home.js
target/classes/static/js/main.js
target/classes/templates/
target/classes/util/Application.class
target/generated-sources/
target/classes/controller/ChatHandler.class
target/classes/controller/InterfaceHandler.class
target/classes/static/
target/classes/templates/home.html
target/classes/util/Application.class
target/generated-sources/
target/maven-status/
