body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.layer-1 {
    z-index: 95;
}

.layer-2 {
    z-index: 90;
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

.full-screen {
    width: 100%;
    height: 100%;
}

#filter {
    background: gray;
    opacity: 0.6;
    position: absolute;
}

#main {
    width: 100%;
    overflow-x: hidden;
}

#main-image {
    width: 100%;
    height:100%;
    position: absolute;
}

.header {
    background: transparent;
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 25%);
}

.underHeader {
    height: calc(100vh - 60px);
}

.logo {
    width: 100%;
    height: 228px;
    left: calc(50% -  10%);
    top: calc(50% - 114px);
}

#logo {
    width: 600px;
    height: 228px;
    vertical-align: middle;
    left: calc(50% -  300px);
    top: calc(50% - 114px);
}

.button {
    display: inline-block;
    position: relative;
    width: 210px;
    height: 60px;
    background-color: #2B92FF;
    border-radius: 6px;
    margin-left: 50px;
    margin-right: 50px;
    z-index: 100;
}

.button1text {
    color: #F0F3F4;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
}

.button2text {
    color: #F0F3F4;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
}

.button-container {
    color: white;
    width: 70%;
    height: 10%;
    z-index: 100;
    position: absolute;
    top: calc(70% - 5%);
    left: calc(50% - 35%);
    font-size: 23px;
    text-align: center;

}

.info {
    width: 50%;
    top: calc(57% - 5%);
    left: calc(50% - 25%);
    position: absolute;
}

.infotext {
    color: white;
    font-size: 30px;
    text-align: center;
}

.learnbutton {
    width: 50%;
    top: calc(85% - 5%);
    left: calc(50% - 25%);
    position: absolute;
}

.learntext {
    color: white;
    font-size: 14px;
    text-align: center;
}

#modal-content {
    text-align: center;
}

#create-button {
    height: 40px;
}

#lecture-upload {
    height: 40px;
}