body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: #F0F3F4;
}

.layer-1 {
    z-index: 100;
}

.layer-2 {
    z-index: 90;
}

.layer-3 {
    z-index: 80;
}

/*******************************************************/
/*   header  */
/*******************************************************/


.page_header {
    width: 100vw;
    height: 60px;
    background: #031D4A;
}

.logo {
    color: white;
    top: 35%;
    left: 2vw;
    position: relative;
}

.instructor {
    font-size: calc(1vw);
    color: #FFF;
    top: 0px;
    position: fixed;
    right: 100px;
}

.slide-header {
    position: relative;
}


/*******************************************************/
/*   helper classes */
/*******************************************************/

.underHeader {
    height: calc(50% - 30px);
}


/*******************************************************/
/*   slides   */
/*******************************************************/


.slide-show {
    background: #F0F3F4;
    position: relative;
    float: right;
    clear: both;
    height: 100vh;
    width: 70vw;
    overflow: hidden;
    overflow-y: scroll;
}

.slide-container {
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
    background: transparent;
}

.slide {
    max-width: calc(100% - 30px);
    max-height: calc(100% - 30px);
    box-shadow: 4px 4px 10px #D0D0D0;
}

.slide-nav {
    position: fixed;
    right: -30vw;
    width: 30vw;
}


/*******************************************************/
/*   discussion panel  */
/*******************************************************/

.discussion-container {
    top: 60px;
    left: 0;
    width: 30vw;
    position: fixed;
    margin-left: 20px;
}

.discussion-header {
    top: 0;
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background: transparent;
    vertical-align: middle;
}

.discussion-name {
    position: relative;
    display: inline-block;
    /*height: 100%;*/
    /*line-height: 100%;*/
    /*vertical-align: middle;*/
    left: 15px;
}

.slide-info {
    display: inline-block;
    /*position: relative;
    float: right;*/
    position: absolute;
    right: 15px;
}

.scroll-header {
    position: relative;
}

/*******************************************************/
/*   chat container  */
/*******************************************************/



.full-width-center {
    width: 100%;
    text-align: center;
}

/*   container  */

#post-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.container-color {
    opacity: 0.3;
}

/*  button */

.open-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px #D0D0D0;
    background: #2B92FF;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    z-index: 100;
}

#post-toggle {
    display: inline-block;
}

#plus-sign {
     color: #F0F3F4;
     font-size: 20px;
}

/*   form  */

#form-title {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
#post-form {
    height: auto;
    width: calc(100% - 20px);
    top: 0;
    position: relative;
    padding: 2px;
    background: transparent;
}

#post-subject {

}

#post-content {

}


input[type=text] {
    /*width: 100%;*/
    border: 0px;

}

input[type=text], select {
    border: 0px;
    outline: none;
}

#modal-content {
    text-align: center;
}


/*******************************************************/
/*   question container  */
/*******************************************************/
.question-container {
    bottom: calc(50% - 17vh);
    left: 0;
    width: 30vw;
    position: fixed;
}

.bottomFooter {
    height: calc(50% - 60px);
    background-color: #FFF;
    bottom: 10px;
}

.all-chat {
    border: 0px solid #000;
    overflow: scroll;
    height: 80%;
    
}

.topics-list {
    position: fixed;
    display: inline-block;
    /*height: 100%;*/
    /*line-height: 100%;*/
    /*vertical-align: middle;*/
    left: 35px;
}

.topics-container {
    position: relative;
    width: calc(100% - 2px);
    height: 70px;
}

.topics-container:hover {
    box-shadow: 1px 1px #8c8b8b;
}
.topic {
    font-size: 14px;
    position: relative;
    left: 1vw;
    display: inline-block;
}


.counter {
    position: relative;
    display: inline-table;
    left: -20px;
    float: right;

}

#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 20px;
    margin-bottom: 5px;
    height: 50px;
    width: 80px;
}

#fixedbutton2 {
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 20px;
    margin-bottom: 5px;
    height: 50px;
    width: 160px;
}

#new-question {
    width : 600px;
}