body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: #D0D3D4;
    color: black;
}

iframe {
    border: 0 !important;
}

.layer-1 {
    z-index: 99;
}

.layer-2 {
    z-index: 90;
}

.layer-3 {
    z-index: 80;
}

/*******************************************************/
/*   header  */
/*******************************************************/


.page_header {
    width: 100vw;
    height: 60px;
    background: #F0F3F4;
}

.logo {
    color: white;
    top: 35%;
    left: 2vw;
    position: relative;
}

.instructor {
    font-size: calc(1vw);
    color: #FA8500;
    top: 0px;
    position: fixed;
    right: 100px;
}

.slide-header {
    position: relative;
}


/*******************************************************/
/*   helper classes */
/*******************************************************/

.underHeader {
    height: calc(50% - 30px);
}


/*******************************************************/
/*   slides   */
/*******************************************************/


.slide-show {
    position: absolute;
    clear: both;
    height: 100vh;
    width: 70vw;
    overflow: hidden;
    overflow-y: scroll;
    right: -60px;
}

.slide-container {
    height: 100%;
    width: 100%;
    padding: 15px;
    position: relative;
    background: transparent;
}

.slide {
    max-width: calc(100% - 30px);
    max-height: calc(100% - 30px);
    box-shadow: 4px 4px 10px #D0D0D0;
}

.slide-nav {
    position: fixed;
    right: -30vw;
    width: 30vw;
}


/*******************************************************/
/*   discussion panel  */
/*******************************************************/

/*******************************************************/
/*   discussion panel  */
/*******************************************************/


.discussion {
    padding-left: 20px;
    padding-right: 20px;
    left: 20px;
    right: 20px;
}
.discussion-container {
    top: 60px;
    left: 0px;
    width: calc(30vw - 40px);
    position: fixed;

}
.discussion-filter {
    position: absolute;
    height: 90%;
    width: 100%;
    background: #FA8500;
    opacity: 0.4;
    margin-top: 10%;
}

.discussion-header {
    top: 0;
    position: relative;
    height: 50px;
    width: 100%;
    line-height: 50px;
    background: transparent;
    vertical-align: middle;
    color: black;
}

.discussion-name {
    position: relative;
    display: inline-block;
    /*height: 100%;*/
    /*line-height: 100%;*/
    /*vertical-align: middle;*/
    left: -10px;
    font-size: 20px;
}

.slide-info {
    display: inline-block;
    /*position: relative;
    float: right;*/
    position: absolute;
    right: 15px;
}

/* calc height using disc-header + chat-container height */
#discussion-content {
    position: relative;
    overflow-y: scroll;
    width: 100%;
    height: calc(30% - 50px - 70px);
}


.thread-container {
    position: relative;
    width: calc(100% - 6px);
    margin-top: 10px;
    height: 80px;
    border-radius: 5px;
}

.thread-background {
    position: absolute;
    background: white;
    opacity: 0.7;
    box-shadow: 4px 4px 10px #1E1E1E;
    width: calc(100% - 6px);
    height: 100%;
    border-radius: 5px;
}

.thread-status {
    position: absolute;
    border-radius: 50%;
    background: red;
    width: 10px;
    height: 10px;
    right: 15px;
    top: 8px;
}

.thread-subject {
    display: block;
    position: relative;
    width: calc(100% - 20px);
    padding-left: 20px;
    height: auto;
    vertical-align: top;
    color: black;
}

.thread-content {
    color: #D0D3D4;
    height: 40px;
    display: block;
    position: relative;
    padding-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thread-author {
    display: block;
    position: relative;
    float: left;
    padding-left: 20px;
    padding-top: 5px;
    width: 100%;
    height: 20px;
    color: #D0D3D4;
}

.thread-subject {
    font-weight: bold;
}

.scroll-header {
    position: relative;
}

/*******************************************************/
/*   chat container  */
/*******************************************************/



.full-width-center {
    width: 100%;
    text-align: center;
}



/*   container  */

#post-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.container-color {
    opacity: 0.3;
}

/*  button */

.index-color {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background: white;
    opacity: 0.5;
}
.open-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 4px 4px 10px #D0D0D0;
    background: #2B92FF;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    z-index: 100;
}

#post-toggle {
    display: inline-block;
}

#plus-sign {
     color: #F0F3F4;
     font-size: 20px;
}

/*   form  */

#form-title {
    position: relative;
    padding-bottom: 10px;
}



#post-form {
   /* height: auto;
    width: calc(100% - 20px);
    top: 0;
    position: relative;
    padding: 2px;
    background: transparent;*/
    position: relative;
}

.form-input {
    display: block;
    position: relative;
    border-radius: 0 !important;
    border: 0 !important;
    border-bottom: 1px solid #979797 !important;
    background: 0 !important;
    box-shadow: none;
    background: gray;
    padding-left: 0 !important;
    margin-bottom: 5px;
}


.form-submit {
    position: absolute;
    margin-right: 5px;
    right: 0;
    top: 0;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    background: 0 !important;
}

.form-submit:hover {
    /*box-shadow: 4px 4px 15px #D0D0D0;*/
    transform: scale(1.1);
    /*background: #212F3D;*/
    /*color: orange;*/
    opacity: 1;
}

#modal-content {
    text-align: center;
}


#post-content {
    width: 100%;
}



/*******************************************************/
/*   question container  */
/*******************************************************/
.question-container {
    bottom: calc(50% - 17vh);
    left: 20px;
    width: 30vw;
    position: fixed;
    text-align: center;
}

.bottomFooter {
    height: calc(50% - 60px);
    bottom: 10px;
}

#all-chat {
    border: 0px solid #000;
    overflow: scroll;
    height: 80%;
    
}

.topics-list {
    position: fixed;
    display: inline-block;
    /*height: 100%;*/
    /*line-height: 100%;*/
    /*vertical-align: middle;*/
    left: 35px;
    font-size: 20px;
    text-align: center;
}

.topics-container {
    position: relative;
    margin-top: 10px;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    color: #031D4A;
}

.topics-background {
    position: absolute;
    background: white;
    /*opacity: 0.5;*/
    box-shadow: 4px 4px 10px #000000;
    width: calc(100% - 20px);
    height: 100%;
    border-radius: 5px;
}

.topics-container:hover {
    box-shadow: 1px 1px #8c8b8b;
}
.topic {
    font-size: 14px;
    position: relative;
    left: 1vw;
    display: inline-block;
}


.counter {
    position: relative;
    display: inline-table;
    left: -20px;
    float: right;

}

#fixedbutton {
    position: absolute;
    top: 14px;
    right: 650px;
    margin-right: -4px;
    margin-bottom: -7px;
    height: 50px;
    width: 80px;
    display: inline-block;
    float: right;
    width: 200px;
}

#new-question {
    width : 600px;
}

#instructor-tag {
    font-size: 25px;
    margin-top: 19px;
    margin-right: -73px;
}

.target {
    background-color: black;
    width: 19px;
    position: absolute;
    border-right: 3px dotted black;
    color: black;
    text-align: right;
    z-index: 100;
}

.ui.input {
    position: absolute;
    left: 85px;
    font-weight: 400;
    font-style: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0,0,0,.87);
}

#evelyn {
    color: black;
}

.copy-link {
    position: relative;
    float: right;
    right: 25vw;
}

.btn {
    height: 30px;
    position: relative;
    top: -.25vh;
}

.btn p {
    display: inline-block;
    position: relative;
    top: -.75vh;
}

.btn:clicked {
    box-shadow: 1px 1px #000;
}

#foo {
    height: 20px;
    position: relative;
    display: inline-block;
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    color: #a0a0a0;
    outline: none;
    top: -1vh;
}