<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" > </meta>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> </link>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- paths -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../css/style.css"/>
    <!-- satori sdk -->
    <script src="https://satori-a.akamaihd.net/satori-rtm-sdk/v1.0.2/sdk.min.js"></script>
</head>
<body>
    <div id="info" th:attr="data-channel=${id}" style="display: none"> </div>
    <div class="page_header layer-1">
        <div class="logo">
            lecture-hub
        </div>
    </div>
    <div class="main-view layer-2">
        <div class="slide-show">
            <div data-index="0" class="slide-container">
                <iframe id="pdf" style="border:1px solid #666CCC" title="PDF" th:src="${src}" src="/files/aakash1.pdf" frameborder="1" scrolling="auto" height="1100" width="850" ></iframe>
            </div>
            <div data-index="1" class="slide-container">
                <img class="slide"> </img>
            </div>
        </div>
    </div>

    <div class="slide-nav underHeader layer-1"> </div>

    <div class="discussion-container underHeader layer-1">

        <!-- header -->
        <div class="discussion-header">
            <div class="discussion-name padding-left" > Discussion </div>
            <div class="slide-info padding-right"> Slide 1 </div>
        </div>

        <!-- content -->
        <div id="discussion-content">

        </div>

        <!-- chat -->
        <div class="container-color chat-container"> </div>
        <div class="chat-container layer-1">
            <input id="chat-input" type="text" placeholder="..."> </input>
            <input id="chat-post" type="submit" value="post" > </input>
        </div>
    </div>

    <div class="ui mini basic modal">
        <div class="content" id="modal-content">
            <div class="ui input">
                <input id="author-name" type="text" placeholder="Your Name"></input>
            </div>
            <div class="ui green ok inverted button" id="join-button">
                <i class="checkmark icon"></i>
                Join
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="../../js/main.js"> </script>
<script type="text/javascript" src="../../js/chat.js"> </script>
</html>