<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" > </meta>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> </link>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- velocity -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.0/velocity.min.js"></script>

    <!-- paths -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../../css/style.css"/>
    <!-- satori sdk -->
    <script src="https://satori-a.akamaihd.net/satori-rtm-sdk/v1.0.2/sdk.min.js"></script>
</head>
<body>
    <div id="info" data-view="student" th:attr="data-channel=${id}" style="display: none"> </div>
    <div class="page_header layer-1">
        <img id="logo" src="../../img/hack_logo_instr.png"> </img>
        <div id="student-tag">Student View</div>
    </div>
    <div class="main-view layer-2">
        <div class="slide-show">
            <!--
            <div data-index="0" class="slide-container">
                <img class="slide" src="demo-slide.jpg"> </img>
            </div>
            <div data-index="1" class="slide-container">
                <img class="slide" src="demo-slide.jpg"> </img>
            </div>
            <div id="slide-index"> <div class="index-color"> </div> 1 / 5 </div>
            -->

            <iframe id="pdf" style="border:1px solid #666CCC" title="PDF" th:src="${src}" src="/files/aakash1.pdf" frameborder="1" scrolling="auto" height="1100" width="850" ></iframe>
        </div>
    </div>

    <div class="slide-nav underHeader layer-1"> </div>

    <div id="quiz" style="display: none">
        <div class="dark-transparent"> </div>
        <div class="quiz-box">
            <div id="quiz-q"></div>
            <div id="quiz-options"> </div>
            <!--<input type="submit" id="quiz-submit" value="submit"> </input>-->
            <div id="quiz-submit" class="ui positive right labeled icon button"> submit </div>
        </div>


    </div>
    <div class="discussion-container underHeader">

        <!-- header -->
        <div class="discussion-header">
            <div class="discussion-name padding-left" > Chat </div>
            <div class="slide-info padding-right"> </div>
        </div>

        <!-- content -->
        <div id="discussion-content">

        </div>
        <!-- chat -->
        <!--<div class="container-color chat-container"> </div>-->

                <!--<input id="post-content" class="form-input" type="text" placeholder="question..."> </input>
                <div id="chat-post" class="form-submit"> <div class="index-color"> </div> + </div>-->
                <div class="ui action input">
                    <input id="post-content" type="text" placeholder="Type message..."></input>
                    <button id="chat-post" style="float: right" class="ui button">Send</button>
                </div>
        <!-- form -->

    </div>

    <div class="ui mini basic modal">
        <div class="content" id="modal-content">
            <div class="ui input">
                <input id="author-name" type="text" placeholder="Your Name"></input>
            </div>
            <div class="ui green ok inverted button" id="join-button">
                <i class="checkmark icon"></i>
                Join
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="../../js/main.js"> </script>
<script type="text/javascript" src="../../js/chat.js"> </script>
</html>