<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" > </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> </link>
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"></link>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

    <!-- paths -->

    <link rel="stylesheet" type="text/css" href="../../css/instructor.css"></link>
    <script type="text/javascript" src="../../js/instructor.css"> </script>

</head>
<body>
    <div id="info" th:attr="data-channel=${id}" style="display: none"> </div>
    <div class="page_header layer-1">
        <div class="logo">
            lecture-hub
        </div>
        <div class = "instructor">
        	<h1>Instructor View</h1>
        </div>
    </div>
    <div class="main-view layer-2">
        <div class="slide-show">
            <div data-index="0" class="slide-container">
                <iframe id="pdf" style="border:1px solid #666CCC" title="PDF" th:src="${src}" src="/files/aakash1.pdf" frameborder="1" scrolling="auto" height="1100" width="850" ></iframe>
            </div>
            <div data-index="1" class="slide-container">
                <img class="slide"> </img>
            </div>
        </div>
    </div>

    <div class="slide-nav underHeader layer-1"> </div>

    <div class="discussion-container underHeader layer-1">

        <!-- header -->
        <!--<div class="discussion-header slide-number">-->
            <!--<div class="discussion-name padding-left" > Discussion </div>-->
            <!--<div class="slide-info padding-right"> Slide 1 </div>-->
        <!--</div>-->

        <div class="discussion-header">
            <div class="discussion-name padding-left" > THREADS </div>
            <div class="slide-info padding-right"> SLIDE 1 </div>
        </div>

        <!-- content -->
        <div id="discussion-content">

        </div>

        <!-- chat -->
        <!--<div class="container-color chat-container"> </div>-->
        <!--<div class="chat-container layer-1">-->
            <!--<input id="chat-input" type="text" placeholder="Have a burning question?" > </input>-->
            <!--&lt;!&ndash; <form id="chat-main">  &ndash;&gt;-->

            <!--<input id="chat-enter" type="submit" style="display:none;"> </input>-->
            <!--&lt;!&ndash; </form> &ndash;&gt;-->
        <!--</div>-->
        <div id="post-container" class="post-container layer-1">
            <!--<input id="chat-input" type="text" placeholder="..."> </input>-->
            <!--<input id="chat-post" type="submit" value="post" > </input>-->
            <!-- post toggle -->
            <!--<div id="post-toggle" class="open-button full-width-center">-->
            <!--<div id="plus-sign"> + </div>-->
            <!--</div>-->
            <div id="form-title" > ANSWER A QUESTION </div>
            <div id="post-form">
                <input id="post-subject" type="text" placeholder="topic of inquiry..."> </input>
                <input id="post-content" type="text" placeholder="..."> </input>
                <input id="chat-post" type="submit" value="post"> </input>
            </div>
        </div>
    </div>

    <div class="question-container bottomFooter layer-1">

        <!-- Topics header -->
        <div class="discussion-header scroll-header">
            <div class="topics-list" > Common Topics </div>
        </div>
        <div class = "all-chat">
            <div class = "topics-container">
            	<h5 class = "topic"> Algorithms </h5>
                <h5 class = "topic counter">25 </h5><hr class = "topic-border"></hr>
            </div>
            <div class = "topics-container">
            	<h5 class = "topic">  Big 'O' Notation</h5>
                <h5 class = "topic counter">20 </h5><hr class = "topic-border"></hr>
            </div>
            <div class = "topics-container">
            	<h5 class = "topic"> Monopoly</h5>
                <h5 class = "topic counter">17 </h5><hr class = "topic-border"></hr>
            </div>
            <div class = "topics-container">
            	<h5 class = "topic"> Free Market</h5>
            	<h5 class = "topic counter">14 </h5>
            </div>
        </div>
    </div>
    <button id="fixedbutton" class="ui inverted blue button">Quiz</button>
    <div id="instructor-quiz" class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            Create a Quiz
        </div>
        <div class="content">
            <h3>Question</h3>
            <div class="ui input">
                <input id="new-question" type="text" placeholder="What is an abstract class?"></input>
            </div>
            <br></br>
            <br></br>
            <div class="ui radio checkbox" id="option-list">

            </div>
            <br></br>
            <br></br>
            <button class="ui inverted blue button" id="add-option">Add Option</button>
            <div class="ui input">
                <input id="new-option" type="text" placeholder="Yes"> </input>
            </div>
        </div>
        <div class="actions">
            <div id="publish-quiz" class="ui positive right labeled icon button">
                Publish
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="../../js/main.js"> </script>

</html>